# Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('./data/disney_princess_popularity_dataset_300_rows.csv')

In [4]:
data.head()

,PrincessName,FirstMovieTitle,FirstMovieYear,MovieRuntimeMinutes,NumberOfSongs,HasSoloSong,HasDuet,HairColor,EyeColor,OutfitPrimaryColor,...,RottenTomatoesScore,BoxOfficeMillions,AvgScreenTimeMinutes,NumMerchItemsOnAmazon,GoogleSearchIndex2024,InstagramFanPages,TikTokHashtagViewsMillions,Top3Hashtags,IsIconic,PopularityScore
0,Pocahontas,Pocahontas's Adventure,1977,85,4,No,Yes,Brown,Green,Pink,...,88,661,25,2524,68,298,481,#TeamPocahontas #LovePocahontas #PocahontasFor...,Yes,88
1,Mulan,Mulan's Adventure,1995,85,1,Yes,Yes,Blonde,Brown,Purple,...,91,688,52,4202,49,133,619,#TeamMulan #LoveMulan #MulanForever,Yes,78
2,Raya,Raya's Adventure,1989,110,4,No,No,Blonde,Hazel,Pink,...,76,790,54,525,68,129,230,#TeamRaya #LoveRaya #RayaForever,No,53
3,Anna,Anna's Adventure,1940,78,1,No,No,Brown,Grey,Green,...,70,820,42,1951,73,138,697,#TeamAnna #LoveAnna #AnnaForever,Yes,84
4,Mulan,Mulan's Adventure,1943,103,7,No,Yes,White,Brown,Green,...,86,996,55,3958,34,155,200,#TeamMulan #LoveMulan #MulanForever,Yes,71

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PrincessName                300 non-null    object
 1   FirstMovieTitle             300 non-null    object
 2   FirstMovieYear              300 non-null    int64
 3   MovieRuntimeMinutes         300 non-null    int64
 4   NumberOfSongs               300 non-null    int64
 5   HasSoloSong                 300 non-null    object
 6   HasDuet                     300 non-null    object
 7   HairColor                   300 non-null    object
 8   EyeColor                    300 non-null    object
 9   OutfitPrimaryColor          300 non-null    object
 10  OutfitStyleEra              300 non-null    object
 11  IsRoyalByBirth              300 non-null    object
 12  HasAnimalSidekick           300 non-null    object
 13  SidekickType                230 non-null    object
 14  HasMagicalPowers            300 non-null    object
 15  MagicType                   247 non-null    object
 16  MainSetting                 300 non-null    object
 17  IsBasedOnRealStory          300 non-null    object
 18  CulturalOrigin              300 non-null    object
 19  SpeaksToAnimals             300 non-null    object
 20  FightsVillainDirectly       300 non-null    object
 21  RomanticSubplot             300 non-null    object
 22  MarriedByEnd                300 non-null    object
 23  VillainName                 300 non-null    object
 24  VillainType                 253 non-null    object
 25  IMDB_Rating                 300 non-null    float64
 26  RottenTomatoesScore         300 non-null    int64
 27  BoxOfficeMillions           300 non-null    int64
 28  AvgScreenTimeMinutes        300 non-null    int64
 29  NumMerchItemsOnAmazon       300 non-null    int64
 30  GoogleSearchIndex2024       300 non-null    int64
 31  InstagramFanPages           300 non-null    int64
 32  TikTokHashtagViewsMillions  300 non-null    int64
 33  Top3Hashtags                300 non-null    object
 34  IsIconic                    300 non-null    object
 35  PopularityScore             300 non-null    int64
dtypes: float64(1), int64(11), object(24)
memory usage: 84.5+ KB

In [6]:
data.shape

(300, 36)

In [9]:
data.isnull().sum()

PrincessName                   0
FirstMovieTitle                0
FirstMovieYear                 0
MovieRuntimeMinutes            0
NumberOfSongs                  0
HasSoloSong                    0
HasDuet                        0
HairColor                      0
EyeColor                       0
OutfitPrimaryColor             0
OutfitStyleEra                 0
IsRoyalByBirth                 0
HasAnimalSidekick              0
SidekickType                  70
HasMagicalPowers               0
MagicType                     53
MainSetting                    0
IsBasedOnRealStory             0
CulturalOrigin                 0
SpeaksToAnimals                0
FightsVillainDirectly          0
RomanticSubplot                0
MarriedByEnd                   0
VillainName                    0
VillainType                   47
IMDB_Rating                    0
RottenTomatoesScore            0
BoxOfficeMillions              0
AvgScreenTimeMinutes           0
NumMerchItemsOnAmazon          0
GoogleSearchIndex2024          0
InstagramFanPages              0
TikTokHashtagViewsMillions     0
Top3Hashtags                   0
IsIconic                       0
PopularityScore                0
dtype: int64

In [22]:
top_10 = data\
    .sort_values(by='PopularityScore', ascending=False)\
    .drop_duplicates(subset='PrincessName', keep='first')

top_10

,PrincessName,FirstMovieTitle,FirstMovieYear,MovieRuntimeMinutes,NumberOfSongs,HasSoloSong,HasDuet,HairColor,EyeColor,OutfitPrimaryColor,...,RottenTomatoesScore,BoxOfficeMillions,AvgScreenTimeMinutes,NumMerchItemsOnAmazon,GoogleSearchIndex2024,InstagramFanPages,TikTokHashtagViewsMillions,Top3Hashtags,IsIconic,PopularityScore
72,Moana,Moana's Adventure,1968,80,6,Yes,Yes,White,Brown,Purple,...,82,1076,47,2021,87,255,850,#TeamMoana #LoveMoana #MoanaForever,Yes,100
108,Tiana,Tiana's Adventure,1963,88,5,No,Yes,Blonde,Hazel,Blue,...,82,486,45,4755,34,229,988,#TeamTiana #LoveTiana #TianaForever,Yes,100
129,Ariel,Ariel's Adventure,1977,80,2,Yes,No,White,Grey,Purple,...,77,664,25,1097,91,214,71,#TeamAriel #LoveAriel #ArielForever,Yes,100
277,Aurora,Aurora's Adventure,1997,109,1,Yes,No,White,Blue,Pink,...,91,1010,49,1924,85,264,71,#TeamAurora #LoveAurora #AuroraForever,No,100
276,Mulan,Mulan's Adventure,1994,98,2,No,Yes,Black,Green,Purple,...,78,346,22,1347,20,138,10,#TeamMulan #LoveMulan #MulanForever,Yes,100
61,Merida,Merida's Adventure,1953,83,2,Yes,No,Brown,Blue,Pink,...,72,627,59,359,78,300,506,#TeamMerida #LoveMerida #MeridaForever,Yes,99
271,Pocahontas,Pocahontas's Adventure,2009,98,5,Yes,Yes,Black,Brown,Purple,...,94,664,46,3643,23,150,155,#TeamPocahontas #LovePocahontas #PocahontasFor...,Yes,99
191,Raya,Raya's Adventure,2000,84,5,Yes,Yes,White,Blue,Yellow,...,62,672,36,1304,40,75,560,#TeamRaya #LoveRaya #RayaForever,No,99
126,Rapunzel,Rapunzel's Adventure,2017,77,2,Yes,No,Black,Green,Yellow,...,93,626,58,853,50,144,428,#TeamRapunzel #LoveRapunzel #RapunzelForever,Yes,98
114,Snow White,Snow White's Adventure,1953,94,1,No,Yes,Brown,Brown,Purple,...,76,1019,58,1109,70,223,113,#TeamSnow White #LoveSnow White #Snow WhiteFor...,No,98
244,Elsa,Elsa's Adventure,2007,71,2,Yes,Yes,Brown,Blue,Pink,...,87,236,48,2349,22,147,335,#TeamElsa #LoveElsa #ElsaForever,Yes,97
296,Belle,Belle's Adventure,2006,76,1,Yes,No,Red,Green,Yellow,...,97,406,53,1558,33,270,274,#TeamBelle #LoveBelle #BelleForever,No,96
9,Anna,Anna's Adventure,2010,108,1,Yes,Yes,Black,Brown,Pink,...,67,931,48,3995,48,113,472,#TeamAnna #LoveAnna #AnnaForever,No,96
249,Cinderella,Cinderella's Adventure,1971,109,4,Yes,No,Blonde,Blue,Yellow,...,62,825,45,454,48,41,451,#TeamCinderella #LoveCinderella #CinderellaFor...,No,96
113,Jasmine,Jasmine's Adventure,1940,98,7,Yes,Yes,Red,Blue,Blue,...,91,476,47,1281,33,261,305,#TeamJasmine #LoveJasmine #JasmineForever,Yes,93